* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 20px;
  text-align: center;
  color: yellow;
  background: rgb(1, 5, 250);
  margin-bottom: 5px;
}

.header h1 {
  font-size: 50px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  color: white;
  background: #fa0101;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}