.icon-input-btn, .color-selector input[type="button"], #clear{
    display: inline-block;
    position: relative;
    margin: 0.25rem;
}
.icon-input-btn input[type="button"], .color-selector input[type="button"]{
    padding: 0.5rem 1rem;
}
.icon-input-btn i{
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 30%;
}
.background{
    background-color: #202020;
}
.container{
    padding: 0.5em 0;
}
.selector-label{
    color: white;
    margin: 0.25rem;
}
.btn-primary{
    background-color: #202020;
}
.thickness-selector input[type="button"]{
    margin: 0.25rem;
    font-size: 1rem;
}
.col-1 input[type="button"]{
    width: 100%;
    margin: 0.25rem;
}
#thin-line{
    font-weight: lighter;
}
#medium-line{
    font-weight: 600;
}
#thick-line{
    font-weight: 1000;
}
#black{
    background-color: black;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: lime;
}
#blue{
    background-color: blue;
}
#magenta{
    background-color: magenta;
}
#cyan{
    background-color: cyan;
}
#purple{
    background-color: purple;
}
#teal{
    background-color: teal;
}
#olive{
    background-color: olive;
}